header {
	background-color: #7C7BAD;
}

.o_form_view .o_form_sheet_bg > .o_form_sheet {
	min-width:auto !important;
}

.o_form_view .oe_chatter {
	min-width:auto !important;
}

.o_form_view.o_xxs_form_view .o_group.o_inner_group > tbody > tr > td.o_td_label {
	width: 100% !important;
}

.o_chatter .o_chatter_topbar > .btn {
    	width: 25%;
    	overflow: hidden;
    	text-overflow: ellipsis;
}
.oe_app_close_button { 
      position:absolute;
	top:0px;
	right:-40px;
	display:block;
	background:#7C7BAD;
	color:#fff;
	width:40px;
	height:40px;
	font-size: 30px;
    	padding: 0 0 0 5px;
	border-bottom-right-radius: 10px;
    	border-top-right-radius: 10px;
   	opacity: 0.8;
}

/*Responsive*/

@media only screen and (max-width: 768px) {
  html .o_web_client > .o_main .o_main_content {
	width:100%;
  }
  .o_menu_sections {
	display:none;
  	width:100%;
  }
  .o_menu_systray {
	display: none;
	float:left !important;
  }
  #o_button_toggle {
      display:block;
	float:right;
  }
  .o_form_view .oe_button_box .oe_stat_button {
	width: 39px !important;
	overflow: hidden;
	position:relative;
  }
  .o_menu_systray {
      width:100%;
  }
  .o_mail_systray_item.o_no_notification.show {
	width:100%;
  }
  .o_stat_text{
      display:none !important;
  }
  .o_form_view .oe_button_box .oe_stat_button .o_stat_info .o_stat_value {
      display:none !important;
  }
  .o_form_view .oe_button_box.o_full .o_dropdown_more {
	width:42px !important;
  }
  .o_form_view .oe_chatter {
	padding:2px 2px 36px !important;
	overflow:hidden;
  }
  .o_form_view .oe_avatar {
      margin-right: 10px;
  }
  .o_form_view .oe_button_box + .oe_title, .o_form_view .oe_avatar + .oe_title {
      padding:0 !important;
	margin:0 !important;
	width:auto !important;
  }
  .o_form_view .oe_button_box {
    	width: 100% !important;
  }
  .o_form_view .o_group .o_group_col_6 {
    	width: 100% !important;
  }
  .show .dropdown-menu .dropdown-header {
    	color: inherit !important;
    	text-decoration: none;
  }
  #menu_more_container {
	display:block !important;
  }
  .o_sub_menu {
	position: fixed;
    	z-index: 99;
    	background: #f0eeee;
    	height: 100%;
      left: -250px;
      width: 250px;
  }
  .oe_app_close_button {
	display:block !important;
  }
  .test-ribbon {
      display:none !important;
  }
}

@media only screen and (min-width: 768px) {
  html .o_web_client > .o_main .o_main_content {
      width:auto;
  }
  .o_menu_sections {
	display:block;
      width:auto;
  }
  #o_button_toggle {
	display:none;
  }
  .o_menu_systray {
      display:block;
	width:auto;
  }
  .o_form_view .oe_button_box .oe_stat_button {
      width: 132px !important;
  }
  .o_stat_text { 
      display:block !important;
  }
  .o_form_view .oe_button_box {
      width: 400px !important;
  }
  .o_form_view .oe_button_box .oe_stat_button .o_stat_info .o_stat_value {
      display:block !important;
  }
  .o_form_view .oe_button_box.o_full .o_dropdown_more { 
      width:auto !important;
  }
  .o_form_view .oe_chatter { 
      padding:16px 16px 48px !important;
  }
  .o_form_view .o_group .o_group_col_6 {
      width: 50% !important;
  }
  .oe_app_close_button { 
      display:none !important;
  }
}
